<header class="desktop">
    <div class="top">
        
        <a href="/"><img class="logo" src="/../images/logo/gamstore.png" width="140px" height="40px"></a>

        

    </div>

    <div class="bot">
        <ul class="nav1">
            
        </ul>

        <ul class="nav2">
                <li><a href="/products/index">Produtos</a></li>
                <li><a href="url">Ayuda</a></li>
            <% if (req.session.userLogged != undefined) { %>
                <li><a href="/users/<%= req.session.userLogged.id %>">Perfil</a> <i class="fa fa-user-circle"></i></li>
                <li><a href="">Favoritos</a> <i class="fas fa-star"></i></li>
                <li><a href="/users/cart/<%= req.session.userLogged.id %>">Carrito</a> <i class="fa fa-shopping-cart"></i></li>  
            <% } else { %>
                <li><a href="/users/register">Creá tu cuenta</a> <i class="fa fa-id-card"></i></li>
                <li><a href="/users/login">Ingresá</a> <i class="fa fa-sign-in-alt"></i></li>
                <li><a href="/users/cart/:id">Mis compras</a> <i class="fa fa-shopping-cart"></i></li>
            <% } %>
        </ul>

    </div>
    
</header>