.productsList {
    background-color: #f0efef;
}

.productsList .list-box {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 150px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

.productsList .list-box:hover {
    box-shadow: inset 1px 1px 1px grey;
}

.productsList .box .topImg {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.product-index {
    display: flex;
}

div.product-index div.filter {
    pointer-events: all;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 250px;
    height: 600px;
    background-color: teal;
    border-radius: 3px;
    color: #f0efef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.filter p {
    pointer-events: all;
    margin: 0%;
    text-decoration: none;
    color: #f0efef;
    cursor: pointer;
}

div.cat {
    background-color: teal;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

div.cat a {
    display: flex;
    text-decoration: none;
    color: #f0efef;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .product-index {
        display: block;
    }
    div.product-index div.filter {
        pointer-events: all;
        margin-top: 30px;
        margin-left: 10px;
        width: 100%;
        height: 44px;
        background-color: teal;
        margin-top: 0px;
        margin-left: 0px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        z-index: 10;
    }
    div.product-index div.filter {
        display: flex;
        cursor: pointer;
        color: #f0efef;
        align-items: center;
        justify-content: center;
    }
    div.product-index div.filter a {
        display: none;
    }
    div.cat {
        transition: 1s;
    }
}