<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Login</title>
    <script>
      window.addEventListener("load", function() {
        let form = document.querySelector("form.login");
        let errores = [];
        let ulErrores = document.querySelector("div.errores ul");

        console.log(errores);

        if (errores.length > 0) {
            var er = document.querySelector("div.errores");

            er.style.display = "block";
        }

        form.addEventListener("submit", function(e) {
          let userEmail = document.querySelector("input.email");
          let userPassword = document.querySelector("input.password");

          if (userEmail.value == "") {
            errores.push("El campo Email está vacío")
            userEmail.style.borderColor = "#a01919";
            userEmail.style.backgroundColor = "#f06f6f";
            userPassword.style.color = "black";
            e.preventDefault();
          }

          if (userPassword.value == "") {
            errores.push("El campo Password está vacío")
            userPassword.style.borderColor = "#a01919";
            userPassword.style.backgroundColor = "#f06f6f";
            userPassword.style.color = "black";
            e.preventDefault();
          }

          for (let i = 0; i < errores.length; i++) {
            ulErrores.innerHTML += "<li>" + errores[i] + "<li>";
          }

        })

      })
    </script>
</head>
<body>

    

    <div class="loginForm">

      <header>
        <a href="/"><img class="logo" src="/../images/logo/gamstore.png" width="134px" height="34px"></a>
      </header>

      <div class="loginContainer">
        <h1>Inciar Sesión</h1>

      <% if (typeof errors != 'undefined') { %> 
        <div class="errors">
          <ul>
            <% for (let i = 0; i < errors.length; i++) { %> 
                <li><p><%= errors[i].msg%></p></li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <div class="errores">
        <ul></ul>
      </div>

      <form method="POST" action="/users/login" class="login">
          <input type="email" name="email" value="" placeholder="Email" class="email">
          <br>
          <input type="password" name="password" value="" placeholder="Password" id="myInput" class="password">
          <br>
          <input type="checkbox" onclick="myFunction()" class="checkbox">Show Password
          <script>
              function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
          </script>
          <input type="checkbox" class="checkbox"> Recordarme
          <br>
          <button type="submit" class="submit">Iniciar</button>
          <br>
          <p><a href="/users/register">No tenés cuenta todavía? Registrarse</a></p>
      </form>
      </div>

    </div>
</body>
</html>